<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :ativo %>
    <%= f.input :logradouro %>
    <%= f.input :numero %>
    <%= f.input :complemento %>
    <%= f.input :bairro %>
    <%= f.input :estado %>
    <%= f.input :cidade %>
    <%= f.input :cep %>
    <%= f.input :cnpj_cpf %>
    <%= f.input :tipocad %>
    <%= f.input :contato %>
    <%= f.input :telefone %>
    <%= f.input :email %>
    <%= f.input :limite %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
