<link href="/assets/style3.css" media="screen" rel="stylesheet" />
<link href="/assets/style1.css" media="screen" rel="stylesheet" />
<h1>Clientes</h1>

<div align="center">

<%= link_to 'Novo Cliente', new_cliente_path , class: "button add"  %><br/>

<%= form_tag clientes_path, :method => 'get' do %>
  <p>
   <%= text_field_tag :search, params[:search], :placeholder => "Digite o Nome" %>
    <%= submit_tag "Busca",class:"button save", :name => nil %> <br/> <font color="red">Para exibir todos os registros deixe o campo vazio</font>
  </p>
<% end %>
<table>

    <tr>
      <th>Nome</th>
      <th>&nbsp;</th>
      <th>Email</th>
      <th>&nbsp;</th>
      <th>Telefone</th>
      <th>&nbsp;</th>
      <th>Contato</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>



    <% @clientes.each do |cliente| %>
      <tr>
        <td><%=h cliente.name %></td>
        <td>&nbsp;</td>
        <td><%= cliente.email %></td>
        <td>&nbsp;</td>
        <td><%= cliente.telefone %></td>
        <td>&nbsp;</td>
        <td><%= cliente.contato %></td>        
        
        <td><%= link_to 'Exibir', cliente,class:"button show" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente),class:"button edit" %></td>
        <td><%= link_to 'Apagar', cliente,class:"button delete" , method: :delete, data: { confirm: 'Deseja realmente apagar o cliente?'} %></td>
      </tr>
    <% end %>

</table>

<br>



</div>


