<h1><font color = "green">Lista de clientes</font></h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>&nbsp;</th>
      <th>Credito</th>
      <th>&nbsp;</th>
      <th>Ativo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%=h cliente.name %></td>
        <td>&nbsp;</td>
        <td><%= cliente.limite %></td>
        <td>&nbsp;</td>
        <td><%= cliente.ativo %></td>
        <td><%= link_to 'Exibir', cliente %>&nbsp&nbsp</td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %>&nbsp&nbsp</td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Deseja realmente apagar o cliente?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_cliente_path %>
