<link href="/assets/style1.css" media="screen" rel="stylesheet" />
<link href="/assets/style3.css" media="screen" rel="stylesheet" />
<div class="testboxcliente">
 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


 </p><p> <strong>Situacao Cadastral:</strong>
  <%= @cliente.ativo %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @cliente.name %>
<p>
  <strong>Nome Fantasia - Apelido:</strong>
  <%= @cliente.nomefantasia %>
</p>
<p>
  <strong>Endereco:</strong>
  <%= @cliente.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cliente.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Cnpj - CPF:</strong>
  <%= @cliente.cnpj_cpf %>
</p>

<p>
  <strong>Tipo Cadastro:</strong>
  <%= @cliente.tipocad %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @cliente.contato %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @cliente.limite %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente),class:"button edit" %> |
<%= link_to 'Voltar', clientes_path,class:"button left_arrow" %>
</div>
