<p id="notice"><%= notice %></p>

<div><p>
  <strong>Name:</strong>
  <%= @cliente.name %>
  <strong>Ativo:</strong>
  <%= @cliente.ativo %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @cliente.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cliente.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Cnpj cpf:</strong>
  <%= @cliente.cnpj_cpf %>
</p>

<p>
  <strong>Tipocad:</strong>
  <%= @cliente.tipocad %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @cliente.contato %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @cliente.limite %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
