<%= simple_form_for(@tipo_pag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.text_field :description,:placeholder => "Nome" %>
 <div class="gender">   
 <%= f.radio_button :active, 'ativo', :checked => true %> 
  <%= label :ativo_ativo, 'Ativo' %>
  <%= f.radio_button :active, 'inativo' %>
  <%= label :ativo_inativo, 'Inativo' %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"button save",:value => "Salvar" %>
    <%= link_to 'Voltar', pedidos_path,class:"button"  %>
  </div>
<% end %>
