<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tipo_pag.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @tipo_pag.active %>
</p>

<%= link_to 'Edit', edit_tipo_pag_path(@tipo_pag) %> 
<%= link_to 'Back', pedidos_path, class:"button" %>
