<% @pedido.items.each do |a| %>
	<tr>
		<td><%= a.produto.name %></td>
		<td><%= a.quantity%></td>
		<td><%= Moeda(a.price) %></td>
		<td><%= Moeda(a.quantity * a.price) %></td>
		<td><%= link_to 'Excluir', [@pedido, a], confirm: 'Confirma ?', method: :delete, remote: true %></td>
	</tr>
<% end %>
<%if @pedido.items.count > 0 %>
	<tr>
		<td></td>
		<td><%= @pedido.totalquantity %></td>
		<td><%= Moeda(@pedido.totalprice) %></td>
		<td></td>
	</tr>
<%end%>