<%= simple_form_for [@pedido, @pedido.items.build], remote: true, :html => { :class => 'form-horizontal' } do |f| %>
	<tr>
				<td><%= f.collection_select(:produto_id, Produto.all, :id, :name,  { :prompt => true }) %></td>
		<td><%= f.text_field :quantity, placeholder: 'Quantidade'%></td>
		<td><%= f.text_field :price, placeholder: 'Preco'%></td>
    <td><%= f.submit 'Gravar', :class => 'btn btn-primary'%></td>
		<td></td>
	</tr>
<% end %>