<p id="notice"><%= notice %></p>

<p>
  <strong>Dataaprovacao:</strong>
  <%= @pedido.dataaprovacao %>
</p>

<p>
  <strong>Datapedido:</strong>
  <%= @pedido.datapedido %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente.name %>
</p>




<p>
  <strong>Valortotal:</strong>
  <%= @pedido.valortotal %>
</p>

<p>
  <strong>Statuspedido:</strong>
  <%= @pedido.statuspedido %>
</p>


