<link href="/assets/style1.css" media="screen" rel="stylesheet" />
<link href="/assets/style3.css" media="screen" rel="stylesheet" />
<div class="testboxcliente">
<%= render :partial => @pedido %>
</div>
<br/>
<br/>
<div class="testboxcliente">
<table class="table table-striped">
  <thead>
		<caption>Itens</caption>
		<tr>
			<th>Produto</th><th>Quantidade</th><th>Preco</th><th>Total</th><th></th>
		</tr>
  </thead>
	<tbody id='item_listing'>
		<%= render :partial => 'item_list' %>
	</tbody>
	<tbody id='item_form'>
		<%= render :partial => 'item_form' %>
	</tbody>
</table>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
</div>