<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @item.pedido %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @item.produto %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
