<link href="/assets/style1.css" media="screen" rel="stylesheet" />
<link href="/assets/style3.css" media="screen" rel="stylesheet" />
<div class="testboxcliente">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @produto.valor %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @produto.unidade %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @produto.saldo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @produto.ativo %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto),class:"button edit" %> |
<%= link_to 'Voltar', produtos_path , class:"button left_arrow"%>
</div>