<h1>Listing relacionamentos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tipo</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @relacionamentos.each do |relacionamento| %>
      <tr>
        <td><%= relacionamento.name %></td>
        <td><%= relacionamento.tipo %></td>
        <td><%= relacionamento.user %></td>
        <td><%= link_to 'Show', relacionamento %></td>
        <td><%= link_to 'Edit', edit_relacionamento_path(relacionamento) %></td>
        <td><%= link_to 'Destroy', relacionamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relacionamento', new_relacionamento_path %>
