<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @item_pedido.quantidade %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @item_pedido.produto.name%>
</p>

<p>
  <strong>Valor unitario:</strong>
  <%= @item_pedido.valor_unitario %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @item_pedido.valor_total %>
</p>

<%= link_to 'Edit', edit_item_pedido_path(@item_pedido) %> |
<%= link_to 'Back', item_pedidos_path %>
