<%# add navigation links to this file %>       
<% if user_signed_in? %>
  <link href="/assets/style2.css" media="screen" rel="stylesheet" />
  <li>
  <%= link_to clientes_path do %>
      <span>Clientes</span>
      <% end %>
  </li>
  <li>
  <%= link_to pedidos_path do %>
      <span>Pedido</span>
      <% end %>
  </li>
  <li>
  <%= link_to produtos_path do %>
      <span>Produtos</span>
      <% end %>
  </li>
  <li>
    <%= link_to users_path do %>
      <span>Usuarios</span>
    <% end %>
  </li>

<% end %>
<% if user_signed_in? %>
  <li><%= link_to signout_path do %>
      <span>Sair</span>
      <% end %>
<% else %>
          <div id="wrap">
          <div id="regbar">
          <h2>Login Easy Sale</h2></div></div>
<% end %>
