<%# add navigation links to this file %>
      <li>
        <%= link_to root_path do %>
          <span>Home</span>
        <% end %>        
      </li>
<% if user_signed_in? %>
  <li>
  <%= link_to clientes_path do %>
      <span>Clientes</span>
      <% end %>
  </li>
  <li>
  <%= link_to pedidos_path do %>
      <span>Pedido</span>
      <% end %>
  </li>
  <li>
  <%= link_to produtos_path do %>
      <span>Produtos</span>
      <% end %>
  </li>
  <li>
    <%= link_to users_path do %>
      <span>Usuarios</span>
    <% end %>
  </li>

<% end %>
<% if user_signed_in? %>

  <li><%= link_to 'Sair', signout_path %></li>
<% else %>
  <li><%= link_to 'Entrar', signin_path %></li>
<% end %>
